html {
    background-image: url(https://wallpapers.com/images/hd/kali-linux-os-dragon-grey-6yb1clh9tv6wa0jn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Helvetica';
    overflow: hidden;
    -webkit-user-select: none;
}

#card {
    display: block;
    text-align: center;
    border: 1px solid rgba(31, 16, 231, 0.5);
    border-radius: 8px;
    width: 30rem;
    padding: 1rem;
    margin: 5rem auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 .25rem rgba(130, 143, 255, 0.5), -.125rem -.125rem 1rem rgba(33, 29, 255, 0.5), .125rem .125rem 1rem rgba(33, 17, 255, 0.5);
}


#profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

#name {
    font-family: 'Lemon Milk';
    font-size: 32px;
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(25, 40, 254) 35%, rgb(25, 9, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.3px black;
}

#location {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(230, 230, 230) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(230, 230, 230);
}

#pin {
    scale: 1.5;
}

#caption {
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px #000000;
}


#html,
#css,
#js,
#c,
#python,
#java {
    display: inline-flex;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.25rem 1rem;
    margin: 4px;
    font-size: 18px;
}

#html:hover,
#css:hover,
#js:hover,
#c:hover,
#python:hover,
#java:hover {
    scale: 1.1;
    background-color: aliceblue;
    transition: 0.4s ease-out;
    color: black;
}


#social-caption {
    color: white;
    font-size: 24px;

}

#social {
    scale: 2.5;
    margin: 2rem 0;
}

#linkedin,
#github {
    color: white;
    padding: 0rem 0.25rem;
}

a {
    text-decoration: none;
    color: white;
}

#linkedin:hover,
#github:hover {
    scale: 1.1;
    transition: 0.2s ease-out;
    cursor: pointer;
}

#buttons {
    display: flex;
    margin: 1rem auto;
    margin-bottom: 1rem;
}

button {
    background: linear-gradient(to bottom right, #5847ef, #514fe0);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    margin: auto;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    touch-action: manipulation;
    white-space: nowrap;
}

button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(74, 71, 239, 0.5), .125rem .125rem 1rem rgba(90, 107, 255, 0.5);
}

button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(74, 71, 239, 0.5), .125rem .125rem 1rem rgba(93, 90, 255, 0.5);
}
